
.sidebar .button{

	width: 150px;
	height: 150px;
	min-width: 150px;
	border-radius: 50%;
	font-size: 16px;
	margin-bottom: 30px;
	margin-left: 85px;
	margin-top: 10px;


}
.sidebar a{
	padding-top: 65px;
}

a.logo-text:link{
	color: black;
	text-decoration: none;
}

/* visited link */
a.logo-text:visited {
    color: black;
    text-decoration: none
}

/* mouse over link */
a.logo-text:hover {
    color: blue;
    text-decoration: none;
}

/* selected link */
a.logo-text:active {
    color: lightblue;
    text-decoration: none;
}

.navbar-fixed-top{
	height:80px;
}

.navbar-nav li a {
 line-height: 51.875px;
}

#medium-title{
 padding-bottom: 0px;
 padding-top: 29px;
}


.section-title{
	text-align: center;
}

.sidebar-title{
	text-align: center;
	margin-right:20%;
}

.body-text{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}

#upcoming-events{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}

#sidebar{
	margin-left: 10%;
	margin-right: 10%;
}

#myCarousel{
	height: 550px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}


#overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:300px;
  left:0;
  width:100%;
  text-align:center;
}
#overlay h1{
	font-size: 100px;
}

#coach-tab-content{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}
#roster h2{
	text-align: center;
}
#space {
	height: 150px;
}
#coach-divider{
	color: white;
}
