<<<<<<< HEAD
.button{
	width: 80%;
	min-width: 150px;
	max-width: 200px;
}
=======


.jumbotron{
	background: url(images/cover.jpg) center;
	background-repeat: no-repeat;
	height: 550px;
}
>>>>>>> master
