
.button{
	width: 80%;
	min-width: 150px;
	font-size: 16px;

}

.section-title{
	text-align: center;
}

.navbar-fixed-top{
	height:80px;
}

.navbar-nav li a {
 line-height: 51.875px;
}
.sidebar-title{
	text-align: center;
	margin-right:20%;
}

#logo-text{

}
.body-text{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}

#upcoming-events{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}

#sidebar{
	margin-left: 10%;
	margin-right: 10%;
}

#myCarousel{
	height: 550px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

#coach-tab-content{
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
}
#overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:40%;
  left:0;
  width:100%;
  text-align:center;
}
#overlay h1{
	font-size: 100px;
}
#roster h2{
	text-align: center;
}
